@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container centerText">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>Use this area to provide additional information.</p>

            <img class="img-responsive" src="~/images/wow.png" />

        </div>
        <div class="col-md-1"></div>
    </div>
</div>