@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container-fluid">
                <div class="col-md-6">
                    <h2>Created By Ryan Chau</h2>
                </div>
                <div class="col-md-6">
                    <h2>And Jesse Goretz</h2>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container-fluid">
                <div class="col-md-6">
                    <img class="img-responsive" src="~/images/maxresdefault.jpg" />
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="~/images/Brock-Pokemon-Series.jpg" />
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<address>
    Bcit's House<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
